@import url(./__container/page__container.css);

.page {
  background-color: #2A2C2F;
  color: #fff;

  font-family: Inter;
  position: relative;
  padding-top: 28px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}
