.footer__link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}
.footer__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .footer__link-text {
    font-size: 24px;
  }
}
