.place__url-heading {
  margin-bottom: 12;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .place__url-heading {
    display: none;
  }
}
